<div class="main-container">
  <header class="header">
    <div class="branding">
      <a routerLink="" class="nav-link">
        <clr-icon shape="compass"></clr-icon>
        <span class="title">Thourist</span>
      </a>
    </div>
    <div class="header-nav">

    </div>
    <div class="header-actions">
        <a *ngIf="authenticated === false" routerLink="" class="nav-link nav-text" (click)="login()">Log In</a>
        <a *ngIf="authenticated" routerLink="" class="nav-link nav-text" (click)="logout()">Log Out</a>
    </div>
  </header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>